<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입</h1>

    <label for="id">ID</label>
    <input type="text" id="name" name="name">

    <label for="pw">PW</label>
    <input type="text" id="name" name="name">

    <label for="이름">이름</label>
    <input type="text" id="name" name="name">

    <label for="주소">주소</label>
    <input type="text" id="name" name="name">

    <input type="submit" value="회원가입">
</body>
</html>